.section.applicant-show
  .row-container.bg-green.col-xs-12.col-md-12
    .content-container.col-xs-12.col-md-5.col-md-offset-3
      .show-content
        .consent-container
          %h1.title Thank you for your interest in joining our team!
          %p.subtitle Only one more thing to do!
          