/*****************
 1. Applicant Show Styling
******************/

.applicant-show {
  height: 100%;

  .show-content {
    background-color: $card-background;
    color: $black-text;
    padding: 0.1rem 2rem;
    border-radius: 3px;
    margin: 0 auto;

    .legal-stuff {
      text-align: left;
    }

    .profile-info {
      margin-bottom: 2rem;

      .applicant-details-list {
        list-style-type: none;
        margin: 0 auto;
        text-align: left;
      }
    }

    .attribute-line {
      font-weight: bold;
    }
  }
}

/*****************
 2. Applicant New Styling
******************/

.shopper-application {
  .row-container {
    padding: 0 0 2rem 0;
  }
}

.why-join {
  color: $bright-white;

  .why-join-list {
    margin: 2rem auto;
    margin-left: 2rem;

    .why-join-item {
      margin: 1rem auto;

      .why-join-icon {
        display: inline-block;
        
        .glyphicon {
          font-size: 3.5rem;
        }
      }
      .why-join-content {
        display: inline-block;
        max-width: 80%;
        margin-left: 2rem;

        .title {
          font-size: 2rem;
        }
        .content {
          color: $off-white
        }
      }
    }
  }
}

.shopper-positions {
  background-color: $off-white;

  .positions-title {
    text-align: center;
    
    .sub-title {
      color: $text-light-grey;
    }
  }
  .positions-list {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.role-description-container {
  margin: 1rem !important;
  background-size: cover;
  flex: 1;
  align-self: stretch;
  
  .role-header{
    border-radius: 3px 3px 0 0;
    text-align: right;
    padding: 1rem;
    color: $bright-white;

    &.yes-car {
      background: $instacart-green;
    }

    &.no-car {
      background: $instacart-orange;
    }  
  }

  .role-content {
    background-color: $card-background;
    border-radius: 0 0 3px 3px;
    padding: 2rem !important;

    hr {
      margin: 1rem 0;
    }

    .role-title {
      font-size: 2.5rem;

      &.yes-car {
        color: $instacart-green;
      }
      &.no-car {
        color: $instacart-orange;
      }
    }
    
    .role-designation, .role-description {
      color: $text-light-grey
    }
    
    .role-designation {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.shopper-apply-now-section {
  .row-container {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: $card-background;
  }

  .apply-now {
    text-align: center;
    color: $text-dark-grey;

    .title {
      font-size: 2rem;
    }
    .sub-title {
      font-size: 1.5rem;
    }
  }
}


/*****************
 3. Desktop Styling
******************/

@media (min-width:  992px) {
  .applicant-show {
    .show-content {
      margin: 2rem auto;
    }
  }
  
  .apply-now {
    margin-bottom: 1.5rem;
  }
  
  .apply-now-btn {
    width: 50%;
    margin: 0 auto;
  }

  .why-join {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .shopper-positions {
    .positions-title {
      margin: 3rem auto; 
    }
    .positions-list {
      flex-direction: row;
    }
  }

  .shopper-apply-now-section {
    .apply-now {
      .title {
        font-size: 3rem;
      }
      .sub-title {
        font-size: 2rem;
      } 
    }
  }
}
