/*****************
 1. Welcome View Styling
******************/

.welcome-container {
  height: 100%;
  color: $bright-white;

  .row-container {
    .content-container {
      .buttons {
        width: 80%;
        margin: 0 auto;
      }

      p {
        font-size: 2rem;
      }
    }
  }
}
